@import "../node_modules/bootstrap/scss/mixins/breakpoints.scss";
@import "./utils/variables_custom";
// @import "./utils/mixins";
// @import "./utils/functions";
// @import "./base/base";
@import "./components/buttons";
@import "./components/accordion";
// @import "./layout/header";
@import "./utils/utilities_custom";
@import "./layout/form";
// @import "./layout/nav";
// @import "./layout/card";
// @import "./layout/container";


@import "./layout/wrapper";
// @import "./pages/home";


// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

