#search-addon {
   position: absolute;
   right: 8px;
   z-index: 10;
}
#search-input {
   color: rgba(black, 0.25);
}
.search-container[data-error]::after {
   content: attr(data-error);
   font-size: 1.15rem;
   color: #901c1c;
   display: block;
   margin-top: 14px;
   margin-bottom: 12px;
   text-align: left;
   opacity: 0;
   transition: 0.3s;
}
.search-container[data-error-visible="true"]::after {
   opacity: 1;
}
.search-container[data-error-visible=""]::after {
   display: none;
}