#search-addon{
    position:absolute;
    right: 8px;
    z-index:10;
}
#search-input{
    color:rgba(black,0.25);
    // font-size:18px;
}
.input-group.rounded.align-items-center.message[data-error]::after {
    // content: attr(data-error);
    content: "hellooooo";
    font-size: 1.15rem;
    color: #901C1C;
    display: block;
    margin-top: 14px;
    margin-bottom: 12px;
    text-align: left;
    // opacity: 0;
    transition: 0.3s;
  }
.input-group.rounded.align-items-center.message[data-error-visible=true]::after {
    opacity: 1;
    position: relative;
  }
.input-group.rounded.align-items-center.message[data-error-visible=""]::after {
    display: none;
  }