.wrapper {
   display: flex;
   align-items: center;
   position: relative;
   &__select {
      &--ingredient.active > .wrapper__hidden--ingredient {
         display: block;
      }
      &--ingredient.active {
         margin-right: 514px;
      }
      &--appareil.active .wrapper__hidden--appareil {
         display: block;
      }
      &--appareil.active {
         margin-right: 514px;
      }
      &--ustensil.active .wrapper__hidden--ustensil {
         display: block;
      }
   }
   &__hidden {
      display: flex;
      flex-direction: column;
      width: 667px;
      position: absolute;
      top: 0px;
      color: #ffffff;
      border-radius: 5px;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
      z-index: 10;
      &--ingredient {
         display: none;
         left: 0px;
         background: $ingredient;
      }
      &--appareil {
         display: none;
         left: 0px;
         background: $appareil;
      }
      &--ustensil {
         display: none;
         left: 0px;
         background: $ustensil;
      }
   }
   &__icon {
      position: absolute;
      right: 21px;
      top: 12px;
   }
   &__option {
      width: 215px;
      /*   height: 69px; */
      padding: 5px 19px;
      cursor: pointer;
      list-style: none;
      font-weight: 400;
      font-size: 1rem;
      text-transform: capitalize;
   }
   &__list {
      padding: 0;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
      text-decoration: none;
      font-weight: 700;
      font-size: 1.125rem;
   }
}
