.wrapper {
   display: flex;
   align-items: center;
   position: relative;
   &__select {
      &--ingredient.active > .wrapper__hidden--ingredient {
         display: block;
      }
      &--ingredient.active {
         margin-right: 5em;
         @include media-breakpoint-up(sm) {
            margin-right: 150px;
         }
         @include media-breakpoint-up(lg) {
            margin-right: 350px;
         }
         @include media-breakpoint-up(xl) {
            margin-right: 514px;
         }
      }
      &--appareil.active .wrapper__hidden--appareil {
         display: block;
      }
      &--appareil.active {
         margin-right: 5em;
         @include media-breakpoint-up(sm) {
            margin-right: 150px;
         }
         @include media-breakpoint-up(lg) {
            margin-right: 350px;
         }
         @include media-breakpoint-up(xl) {
            margin-right: 514px;
         }
      }
      &--ustensil.active .wrapper__hidden--ustensil {
         display: block;
      }
      &--ustensil.active {
         margin-right: 5em;
         @include media-breakpoint-up(sm) {
            margin-right: 150px;
         }
         @include media-breakpoint-up(lg) {
            margin-right: 350px;
         }
         @include media-breakpoint-up(xl) {
            margin-right: 514px;
         }
      }
   }
   &__hidden {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 667px;
      position: absolute;
      top: 0px;
      color: #ffffff;
      border-radius: 5px;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
      z-index: 10;
      &--ingredient {
         display: none;
         left: 0px;
         background: $ingredient;
         &[data-error]::after {
            content: attr(data-error);
            font-size: 1.15rem;
            color: $secondary;
            display: block;
            margin-top: 14px;
            margin-bottom: 12px;
            text-align: left;
            opacity: 0;
            transition: 0.3s;
            padding-left: 20px;
         }
         &[data-error-visible="true"]::after {
            opacity: 1;
         }
         &[data-error-visible=""]::after {
            display: none;
         }
      }
      &--appareil {
         display: none;
         left: 0px;
         background: $appareil;
         &[data-error]::after {
            content: attr(data-error);
            font-size: 1.15rem;
            color: $secondary;
            display: block;
            margin-top: 14px;
            margin-bottom: 12px;
            text-align: left;
            opacity: 0;
            transition: 0.3s;
            padding-left: 20px;
         }
         &[data-error-visible="true"]::after {
            opacity: 1;
         }
         &[data-error-visible=""]::after {
            display: none;
         }
      }
      &--ustensil {
         display: none;
         left: 0px;
         background: $ustensil;
         &[data-error]::after {
            content: attr(data-error);
            font-size: 1.15rem;
            color: $secondary;
            display: block;
            margin-top: 14px;
            margin-bottom: 12px;
            text-align: left;
            opacity: 0;
            transition: 0.3s;
            padding-left: 20px;
         }
         &[data-error-visible="true"]::after {
            opacity: 1;
         }
         &[data-error-visible=""]::after {
            display: none;
         }
      }
   }
   &__icon {
      position: absolute;
      right: 21px;
      top: 12px;
      cursor: pointer;
   }
   &__option {
      width: 215px;
      padding: 5px 19px;
      cursor: pointer;
      list-style: none;
      font-weight: 400;
      font-size: 1rem;
      text-transform: capitalize;
   }
   &__list {
      padding: 0;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
      text-decoration: none;
      font-weight: 700;
      font-size: 1.125rem;
   }
}
