.button {
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 23px 20px;
      width: 170px;
      height: 69px;
      border: none;
      border-radius: 5px;
      font-weight: 700;
      font-size: 1.125rem;
      color: #ffffff;
      cursor: pointer;
      letter-spacing: 0.1rem;
      &--ingredient {
         background: $ingredient;
      }
      &--appareil {
         background: $appareil;
      }
      &--ustensil {
         background: $ustensil;
      }
   }
   &__hidden {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 20px 24px 0 19px;
      color: rgba(255, 255, 255, 0.5);
      border: none;
      border-radius: 5px 5px 0 0;
      &::placeholder {
         color: rgba(255, 255, 255, 0.5);
      }
      &--ingredient {
         background: $ingredient;
      }
      &--appareil {
         background: $appareil;
      }
      &--ustensil {
         background: $ustensil;
      }
   }
}
