// $bd-violet: #ED6454;

// .btn-orange {
//     background:$bd-violet;
//     --bs-btn-font-weight: 600;
//     --bs-btn-color: var(--bs-white);
//     --bs-btn-bg: var(--bd-violet);
//     --bs-btn-border-color: var(--bd-violet);
//     --bs-btn-border-radius: .5rem;
//     --bs-btn-hover-color: var(--bs-white);
//     --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
//     --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
//     --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
//     --bs-btn-active-color: var(--bs-btn-hover-color);
//     --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
//     --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
//   }
$font-size-base:1rem;

$utilities: () !default;
$utilities: map-merge(
   $utilities,
   (
      "font-size": (
         property: font-size,
         class: fs,
         values: (
            7: $font-size-base*0.875,
         ),
      ),
   )
);
