/***COLORS****/
// $color-primary: #901C1C;
// $color-secondary: #D3573C;
// $color-third: #757575;
// $color-white: #FFFFFF;
// $color-black: #000000;

$ingredient:#3282F7;
$appareil: #68D9A4;
$ustensil: #ED6454;

$secondary:#E7E7E7;

.btn-ingredient {
    background:$ingredient!important;
    font-size:18px!important;
}

.btn-appareil {
    background:$appareil!important;
    font-size:18px!important;
}

.btn-ustensil {
    background:$ustensil!important;
    font-size:18px!important;
}